<div class="container">
    <input type="text" [(ngModel)]="longUrl" placeholder="Enter URL here" />
    <button (click)="shortenUrl()">Shorten URL</button>
  
    <div *ngIf="shortUrl">
      <p>Shortened URL: <a [href]="shortUrl" target="_blank">{{ shortUrl }}</a></p>
    </div>
  </div>

  <div class="card" *ngIf="allUrls" style="padding-top: 30px;">
    <p-table
        [value]="allUrls"
        [paginator]="true"
        [rows]="5"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[5, 10, 20]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width:25%">Short urls</th>
                <th style="width:25%">Description</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-url>
          <tr>
              <td>
                  <a [href]="'http://localhost:8080/' + url.id" target="_blank" rel="noopener noreferrer">
                      http://localhost:8080/{{ url.id }}
                  </a>
              </td>
          </tr>
      </ng-template>
    </p-table>
</div>  