<div class="col-span-12 md:col-span-4" style="padding-top: 20px ;">
    <p-card class="relative h-28 rounded-xl !p-4 w-[500px]" [style]="{ width: '360px' }">
      <ng-template pTemplate="content">
        <!-- Clickable Element to Open Modal -->
        <a class="text-sm font-medium leading-none cursor-pointer text-blue-600 underline hover:text-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-400"
        (click)="openModal()" tabindex="0" style="color: blue; ">
                 URL Shortener
        </a>
        <div class="flex justify-between"></div>
      </ng-template>
    </p-card>
  </div>
  
  <!-- Full-Screen Modal -->
  <p-dialog [(visible)]="isModalOpen" [modal]="true" [style]="{ width: '80vw', height: '80vh' }">
    <ng-template pTemplate="header">
      <h2 class="text-lg font-semibold">URL Shortener</h2>
      <button pButton title="Shorten Url" type="button" label="Shorten Url" icon="pi pi-times" class="p-button-text" (click)="closeModal()"></button>
    </ng-template>
  
    <div class="p-4">
        <app-url-shortner></app-url-shortner>
    </div>
  </p-dialog>
  



