<div class="col-span-12 md:col-span-4" style="padding-top: 20px;">
  <p-card class="relative h-28 rounded-xl !p-4 w-[500px] flex items-center justify-center" [style]="{ width: '360px', height: '100%' }">
    <ng-template pTemplate="content">
      <div class="grid h-full place-items-center">
        <p-button label="URL Shortener" [outlined]="true" (click)="openModal()" />
        
      </div>
    </ng-template>
  </p-card>
</div>

  
  <!-- Full-Screen Modal -->
  <p-dialog [(visible)]="isModalOpen" [modal]="true" [style]="{ width: '80vw', height: '80vh' }">
    <ng-template pTemplate="header">
      <h2 class="text-lg font-semibold">URL Shortener</h2>
    </ng-template>
  
    <div class="p-4">
        <app-url-shortner></app-url-shortner>
    </div>
  </p-dialog>
  



